@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.buttonBox {
  padding: 10px 15px;
  border-radius: 10px;
  transition: .5s;

}

.buttonBox:hover {
  background-color: #1a53ff;
  color: white;
  
}